.DS_Store
node_modules
# Keep environment variables out of version control
.env
volumes
data
logs
build

public/

.idea/

.dist/

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
